@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.divTeto{
    display: flex;
    flex-direction: row;
}

img{
    max-width: 95px;
    max-height: 95px;
}
h1{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 69px;
    margin-top: 4px;
    color: aliceblue;
}

body{
    background: url(fundo.png);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}

a{
    font-size: 30px;
    color: aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
}

.infoUser{
    border: 2px solid black;
    max-width: 400px;
    min-height: 400px;
    align-content: center;
    display: flex;
    flex-direction:column;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(28, 69, 255);
    color: white;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

button{
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-top: 50px;
}

input{
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px;
    font-size: 26px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

